@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

#nameNav {
    color: white;
}

#introSection {
    background-image: url('./img/codeImgBlur.png');
    background-repeat: no-repeat;
    background-size: cover;   
}
#introBody {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 60vh;
    justify-content: space-between;
    /* align-items: center; */
}

#profilePic {
    max-width: 250px;
    border-radius: 50%;
    /* box-shadow: 5px 10px 8px #494949; */

    /* border: 4px solid black; */
}

#typedTextContainer {
    /* max-height: 200px; */
}

#typedTText {
    font-family: 'Source Code Pro', monospace;
}

#typedIntro {
    font-family: 'Source Code Pro', monospace;
    color: rgb(33, 163, 241);
}

.is-flex-centered {
    justify-content: center;
    align-self: center;
    align-items: center;
}

#iconLinks {
    /* padding: 100px; */
    margin: 20px;
}

.iconMargin {
    margin: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
    /* color: green; */
}

.gif {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 5px 10px 8px #888888;
}

.mobile-gif {
    max-width: 100%;
    border-radius: 25px;
    box-shadow: 5px 10px 8px #888888;
}


.aboutIcon {
    margin-bottom: 15px;
}


#downloadResume {
    margin-top: 10px;
}

.iconBottom {
    color: #494949;
}

.iconBottom:hover {
    color: gray;
}