@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

#introSection {
    background-image: url('./codeImgBlur.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}
#profilePic {
    max-width: 200px;
    border-radius: 50%;
    border: 4px solid black;
}

#typedIntro {
    font-family: 'Source Code Pro', monospace;
    color: rgb(33, 163, 241);
}